@font-face {
  font-family: "iconfont"; /* Project id 4161351 */
  src: url('iconfont.woff2?t=1689063957359') format('woff2'),
       url('iconfont.woff?t=1689063957359') format('woff'),
       url('iconfont.ttf?t=1689063957359') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-log:before {
  content: "\e691";
}

.icon-YAML:before {
  content: "\e625";
}

.icon-mp:before {
  content: "\e609";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-typescript:before {
  content: "\e6a3";
}

.icon-css:before {
  content: "\e606";
}

.icon-jar:before {
  content: "\e639";
}

.icon-HTML:before {
  content: "\e620";
}

.icon-js:before {
  content: "\e618";
}

.icon-json:before {
  content: "\e642";
}

.icon-go:before {
  content: "\e62d";
}

.icon-word:before {
  content: "\e61e";
}

.icon-avi:before {
  content: "\e692";
}

.icon-FLV:before {
  content: "\e61f";
}

.icon-folder:before {
  content: "\e63a";
}

.icon-pdf:before {
  content: "\e60b";
}

.icon-txt:before {
  content: "\e689";
}

.icon-ppt:before {
  content: "\e8b0";
}

.icon-excel:before {
  content: "\e605";
}

.icon-png:before {
  content: "\e607";
}

.icon-f-gif:before {
  content: "\e60a";
}

.icon-bmp:before {
  content: "\e603";
}

.icon-svg:before {
  content: "\e61a";
}

.icon-JPEG:before {
  content: "\e66d";
}

.icon-file-sql:before {
  content: "\e64e";
}

.icon-php-file:before {
  content: "\e682";
}

.icon-enable:before {
  content: "\e629";
}

.icon-file-csv:before {
  content: "\e652";
}

.icon-file-dwg:before {
  content: "\e600";
}

.icon-Files-96:before {
  content: "\e7f7";
}

.icon-file-pdf:before {
  content: "\e601";
}

.icon-file_lnk:before {
  content: "\e670";
}

.icon-File_Download_Fill:before {
  content: "\e6c1";
}

.icon-File_Upload_Fill:before {
  content: "\e6cd";
}

.icon-file:before {
  content: "\e84f";
}

